.news_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  padding: 20px 0;
  width: 80%;
  background-color: #f5f5f5;
}

.categ {
  background-color: #f5f5f5;
  width: 80%;
  margin: 20px auto;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.categ button {
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto";
  background-color: #000;
  color: #ff2500;
}
