.carousel_wrapper {
  height: 90vh;
  padding: 25px;
}
.rec .rec-arrow-left {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 1;
}
.rec .rec-arrow-right {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 1;
}
.rec.rec-dot {
  box-shadow: none;
  border: none;
  border-radius: 0;
  background-color: grey;
}
